body{
    background-color: pink;
    color:red;
    height:100%;
}

.container{
    flex-wrap: wrap;
}

#collection{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 98%;
    background-color: blue;
    height: 10vw;
    border: solid 1vw blue;
    margin-bottom: 2vh;
}

.matrix{
    border: solid 2px black;
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
}

.matrix .cell{
    box-sizing: border-box;
    width: 5vw;
    height: 5vw;
    border: solid 1px black;
    background-color:#dadada;
}

.matrix .cell.clicked{
    background-color:#444444;
}

.mini-matrix{
    margin-right: 1vw;
    flex: 0 0 auto;
    border: solid 0.5px black;
    width: 10vw;
    display: flex;
    flex-wrap: wrap;
}

.mini-matrix .cell{
    box-sizing: border-box;
    width: 1.25vw;
    height: 1.25vw;
    border: solid 0.5px black;
    background-color:#dadada;
}

.mini-matrix .cell.clicked{
    background-color:#444444;
}